#menu-principal li {
  list-style: none;
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 0%, #efefef 50%, #cccccc 100%); 
  background: -webkit-linear-gradient(top, #fefefe 0%,#efefef 50%,#cccccc 100%); 
  background: linear-gradient(to bottom, #fefefe 0%,#efefef 50%,#cccccc 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#cccccc',GradientType=0 ); 
  width:200px;
  height:35px;
  float:left;
  text-align:center;
  margin:4px 0;
  border-radius:0 17px 17px 0;
}
#menu-principal li .sub-menu{background:#fff !important;}
#menu-principal li .sub-menu li{background: none !important; width:100%; border-radius: 0 !important; margin: 0; word-break: break-word;}
#menu-principal li .sub-menu li a{background: none !important; margin: 0 !important; padding:10px;}
#menu-principal li a {text-transform: uppercase; color:#1d1d1b;  padding:10px 0px 10px 13px; margin-left:10px; font-weight:bold; width:100%; float:left; line-height:15px;}
#menu-internas li a{text-transform: uppercase; font-size:16px; color: #fff}
#menu-internas>li>a:focus, #menu-internas>li>a:hover{ background: #000051 !important; }
#menu-internas li.active{background:#000051;}
#menu-internas li:hover > a{background:#000051;}
#menu-internas li.menu-item-has-children a::after{content: "\25BE"; margin-left:3px;}
#menu-internas li .sub-menu li a::after {content:"";}
#menu-internas li .sub-menu{background:#000051;}
#menu-principal li a, #menu-internas li a, #menu-internas-mobile li a{cursor: pointer}
#menu-internas li .sub-menu li{list-style: none; padding: 5px 0; white-space: nowrap; }
#menu-internas li .sub-menu li a{padding: 5px 20px;}
.sub-menu{opacity: 0.9; margin-left:3px; border-radius:17px 17px 17px 17px; -moz-border-radius:17px 17px 17px 17px; -webkit-border-radius:17px 17px 17px 17px;}

#menu-internas ul{z-index: 500;
  float: left;
  position:absolute; padding:0;}
.navigation ul {
  z-index: 500;
  float: left;
  position:absolute; top:214px; padding:0;
}
.navigation ul li, #menu-internas ul li {
  float: left;
  min-height: 0.05em;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
}

.navigation ul li.hover,
.navigation ul li:hover,
#menu-internas ul li.hover,
#menu-internas ul li:hover {
  position: relative;
  z-index: 510;
  cursor: default;
}
.navigation ul ul, #menu-internas ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 520;
  width: 100%;
}
.navigation ul ul li, #menu-internas ul ul li { float: none; }
.navigation ul ul ul, #menu-internas ul ul ul {
  top: 0;
  right: 0;
}
.navigation ul li:hover > ul { visibility: visible; }
.navigation ul ul {
  top: 0;
  left: 99%;
}
.navigation ul li { float: none; }
.navigation {
  width: 13em;
  zoom: 1;
}
.navigation:before {
  content: '';
  display: block;
}
.navigation:after {
  content: '';
  display: table;
  clear: both;
}
.navigation a {
  display: block;
  padding: 1em 1.3em;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation > ul { width: 13em; }
.navigation ul ul { width: 13em; }
.navigation li { position: relative; }
.navigation ul li.has-sub > a:after {
  content: '»';
  position: absolute;
  right: 1em;
}
.navigation ul ul li.last {
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}
.navigation.align-right { float: right; }
.navigation.align-right li { text-align: right; }
.navigation.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}
.navigation.align-right ul li.has-sub > a:after { content: none; }
.navigation.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}
.navigation.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
.navigation.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}
.navigation.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

#menu-internas li:hover .sub-menu{ opacity: 0.9; visibility: visible;}
#menu-internas .sub-menu{
  color:#fff;
  position: absolute;
  z-index: 999;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition:visibility 0s linear 0.3s,opacity 0.3s linear;
  border-radius:0 !important;
  -moz-border-radius:0 !important;
  -webkit-border-radius:0 !important;
}
.navbar{border: none !important}

/* MOBILE MENU */
.nav-mobile{display: none}
.nav-mobile ul li {float:none;}
#menu-internas-mobile{display: none; margin: 0; padding: 0; width: 100%;}
#menu-internas-mobile li a{color:#fff; text-transform: uppercase;}
#menu-internas-mobile li a:focus, #menu-internas-mobile li a:active, #menu-internas-mobile li a:visited{background: #00006e}
#menu-internas-mobile li a:hover{background: #000051}
#menu-internas-mobile li { float: left !important; width: 100%; text-align: center; list-style: none}
#menu-internas-mobile li.menu-item-has-children a::after{content: "\25BE"; margin-left:3px;}
#menu-internas-mobile li .sub-menu li a::after {content:"";}
#menu-internas-mobile li .sub-menu li{ background: #000051; padding: 6px}
#menu-internas-mobile li:hover > a{background: #000051;}
.sandwich{color:#fff; cursor: pointer}
.sandwich i{vertical-align: middle;line-height: 48px; margin-right: 10px}
.show{ opacity: 1 !important; visibility: visible !important; position: relative !important; display: block !important; }